





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}


body{
    background: #201c2c;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;

}

header{
    height: 30vh;
 
    position: relative;
    top: 15px;
   

}

.links{
    display: inline-block;
    position: relative;
    margin-left: 50px;
}

.infolinks{
    padding: 10px;
}


.fa-xbox{
    font-size: 40px;
    color: white;
    position: relative;
    top: 10px;
    margin-left: 40px;
}



nav h3{
    display: inline-block;
}

h3{
    color: white;
}


.connect{
    background: blueviolet;
    color: white;
    height:2rem;
    width: 5rem;
  
    border-radius: 50px;
    border: none;
    transition: all .1s ease-out;
    display: inline-block;
    position: relative;
    margin-left: 90vw;
    top: -25px;
    
}

.connect:hover{
    height:2.5rem;
    width: 5.5rem;
    cursor: pointer;

}

.wrapper{
    display: flex;
}


.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
    height: 40vh;

    
}


.first{
    height: 40vh;
    transition: all .1s ease-out;
    flex-shrink: 0;
    
}

.first:hover{
    height: 45vh;
    border: 1px solid #fff;

}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10vh;
}

.addicts{
    font-size: 3rem;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height:30vh;

}

pre{
    font-size: 1.5rem;
}

.JoinButtons{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.buttonsList{
   display: flex;
   justify-content: space-evenly;
   gap:2rem;
   width: 30vw;
   height:15vh;
}

.Discord{

    background: blueviolet;
   
    color: white;
    height:2rem;
    width: 10rem;
    display: flex;
  
  justify-content: center;
  align-items: center;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    border: none;
   

  


}


h4{
    justify-content: center;
    align-items: center;
}

.explorenft{
    background: blueviolet;
   
    color: white;
    height:2rem;
    width: 10rem;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    border: none;
    
}

.hoverinall:hover{
    background: violet;
    height:2.5rem;
    width: 12rem;
    cursor: pointer;
}

.nextone{
    height:30vh;
    background: white;
}

.discim{
    height:30px;
}

.banner{
    height: 70vh;
    width: 100%;
}

.infotab1{
    background-color: #201c2c;
 

border: 50px solid #201c2c;
padding: 10px;
height: 70vh;
width: 70vw;

display: flex;
justify-content: space-around;

}

.text1{
    color: white;
    min-height:40vh;
    width: 20vw;
    margin-top: 60px;

}


.wrapper{
    height:fit-content;
   
    justify-content: center;
    align-items: center;
}


.pic1{
    height: 45vh;
    width: 25vw;
    border-radius: 40px;

    
}

.pic2{
    width: 30vw;
}

.infotab2{
    border: 30px;
    gap: 10px;

}

.text2{
    margin-left: -30px;
}



footer{
    display: flex;
    justify-content: space-around;

    height:10vh;
    min-width: 800px;

    


}

.icons{
    display: flex;
    flex-direction: row;
 
    gap: 20px;

    margin-right: 100px;
    

}

i{
    position: static;
    pointer-events: none;
   

}


.style{
    font-size: 20px;
    
}



.footnotes{
    display: flex;
    gap: 40px;
   
}

a{
    text-decoration: none;
    color: white;

    border: 5px solid transparent;
    
    
}

i{
    color: white;
}





 
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  
    body{
         html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    }
    
header{
    height: 10vh;
 
    position: relative;
    top: 10px;
   

}

.connect {
    background: blueviolet;
    color: white;
    height: 2rem;
    width: 4rem;
    border-radius: 50px;
    border: none;
    transition: all .1s ease-out;
    display: inline-block;
    position: relative;
    margin-left: 82vw;
    top: -29px;
    font-size: small;
}

.links {
    display: inline-block;
    position: relative;
    margin-left: 9px;
}
.fa-xbox {
    font-size: 25px;
    color: white;
    position: relative;
    top: 1px;
    margin-left: 18px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 125vh;
    flex-direction: column;
}

.first {
    height: 36vh;
    transition: all .1s ease-out;
    flex-shrink: 0;
}

pre {
    font-size: 0.9rem;
}

.buttonsList {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    width: 78vw;
    height: 15vh;
}

.banner {
    height: 46vh;
    width: 87%;
    margin-left: 5%;
}

.addicts {
    font-size: 2.26rem;
}
.infotab1 {
    background-color: #201c2c;
    border: 50px solid #201c2c;
    padding: 10px;
    height: 88vh;
    width: 70vw;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.text1 {
    color: white;
    min-height: 47vh;
    width: 54vw;
    margin-top: 60px;
    margin-left: -15px;
}
.pic1 {
    height: 57vh;
    width: 49vw;
    border-radius: 40px;
    margin-left: -16px;
}

footer {
    gap: 30px;
    display: flex;
    justify-content: center;
    height: 10vh;
    flex-direction: column;
    align-items: center;
    margin-left: -178px;
}

a {
    text-decoration: none;
    color: white;
    border: 5px solid transparent;
    font-size: 12px;
  
}

.footnotes {
    display: flex;
    margin-left: -72px;
    gap: 40px;
}
.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 98px;
}
